nav{
    height:15vh;
}
.logo{
    height: 12rem;
    width: 12rem;
}

.dropdown-menu {
    display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle:hover, .dropdown-item:hover {
    color: #3763EB;
}


.dropdown-menu ::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    top: -10px;
    left: 20%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
  }
  

.search-form {
    position: relative;
    border-radius: 50px;
    margin-left: 20px;
}

.search-form input {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    border: 1px solid #F4EEFB;
    background: #fff;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}


.search-form input:focus {
    -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
  }
  
.search-form button {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

h2,h5,span {
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    color: #3763EB;
    margin-bottom: 0;
}

h2 {
    font-weight: 600;
    color: #051441;
    margin: 0px;
  }

.theme-button{
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 16px 48px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border: none;
    background: -webkit-gradient(linear, right top, left top, from(#3763eb), color-stop(50.39%, #6f58e8), to(#3763eb));
    background: linear-gradient(to left, #3763eb 0%, #6f58e8 50.39%, #3763eb 100%);
    background-size: 200% auto;
    overflow: hidden;
}

.video-btn a {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #3763EB;
    text-decoration: none; /* This line removes the underline */
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0px 0px 20px rgba(170, 189, 249, 0.45);
    box-shadow: 0px 0px 20px rgba(170, 189, 249, 0.45);
  }
  
  .Mona-image,.flowVincent-image{
    width:20vw;
    height:100%;
  }


.client-logo img {
    max-width: 200px;
    width: 100%;
    opacity: .3;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

.feature-section h2{
    font-size: 40px;
    font-weight: 600;
    color: #051441;
    margin: 0px;
}


p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #6A7C92;
    margin: 0px;
}


.service-section .service-box-style-2 .box-icon-style {
    margin-left: auto;
    margin-right: auto;
    width: 54px;
    height: 54px;
    border: 2px solid #fff;
    font-size: 25px;
    margin-top: -27px;
    background: #fff;
    position: relative;
    z-index: 9;
  }
  

  
.box-icon-style {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid  #3763EB;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #3763EB;

}


.scale-icon {
    display: inline-block; /* Ensures transform applies correctly */
    transform: scale(2); /* Adjusts the scale; 1.5 means 150% of the current size */
}

.portfolio-btn-wrapper button {
    padding: 10px 24px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background: #EFF2F9;
    color: #051441;
    border-radius: 50px;
    margin-right: 30px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.portfolio-btn-wrapper button.active {
    background-image: -webkit-gradient(linear, left top, right top, from(#3763eb), to(#6f58e8));
    background-image: linear-gradient(to right, #3763eb 0%, #6f58e8 100%);
    color: #fff;
}



.portfolio-item-wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .portfolio-item-wrapper:hover .portfolio-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .portfolio-item-wrapper .portfolio-img img {
    width: 100%;
  }
  
  .portfolio-item-wrapper .portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 99, 235, 0.94)), to(rgba(111, 88, 232, 0.94)));
    background: linear-gradient(rgba(55, 99, 235, 0.94) 0%, rgba(111, 88, 232, 0.94) 100%);
    padding: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.portfolio-item-wrapper .portfolio-overlay .overlay-content h4 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .portfolio-item-wrapper .portfolio-overlay .overlay-content p {
    color: #fff;
    margin-bottom: 35px;
  }
  
  .portfolio-item-wrapper .portfolio-overlay .overlay-content .border-btn {
    padding: 8px 27px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
  }
  
  .portfolio-item-wrapper .portfolio-overlay .overlay-content .border-btn:hover {
    color: #3763EB;
    background: #fff;
  
  }

.team-member .card{
    width:20vw;
}

.im-bg{
    background-image: url("../images/common-bg.svg");
    height: 30vh;
}


.subscribe-section {
    position: relative;
  }
  
  .subscribe-section .subscribe-form {
    position: relative;
  }
  
  .subscribe-section .subscribe-form input {
    border: 2px solid transparent;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
    padding: 18px 30px;
    background: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  
  .subscribe-section .subscribe-form input:focus {
    -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  }
  
.subscribe-section .subscribe-form button {
border-radius: 50px;
color: #fff;
font-size: 18px;
font-weight: 700;
border: none;
background: -webkit-gradient(linear, right top, left top, from(#3763eb), color-stop(50.39%, #6f58e8), to(#3763eb));
background: linear-gradient(to left, #3763eb 0%, #6f58e8 50.39%, #3763eb 100%);
background-size: 200%;
-webkit-transition: all 0.3s ease-out 0s;
transition: all 0.3s ease-out 0s;
position: absolute;
height: 54px;
width: 54px;
top: 5px;
right: 5px;
}
  
.subscribe-section .subscribe-form button:hover {
background-position: right center;
}


.footer-social-links ul li {
display: inline-block;
}
  
.footer-social-links ul li a {
width: 45px;
height: 45px;
border-radius: 50%;
text-align: center;
line-height: 45px;
background: rgba(106, 124, 146, 0.1);
display: block;
font-size: 18px;
color: #6A7C92;
margin-right: 15px;
}
  

  
.footer-social-links ul li a:hover {
background: -webkit-gradient(linear, left top, left bottom, from(#3763eb), to(#6f58e8));
background: linear-gradient(#3763eb 0%, #6f58e8 100%);
color: #fff;
}

  